# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# .NET
bin/
obj/

# Editores / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Node (spectral via npx)
node_modules/

# Arquivos de bloqueio do Word
~$*
